// ===================================
//       GroundworkCSS Components
// ===================================




.ios, .android {
  // disable font size overrides (on iOS devices)
  -webkit-text-size-adjust:none;
}