// ===================================
//      GroundworkCSS Typography
// ===================================




body {
  font-family:$font-family;
  font-size:$font-size;
  line-height:1.2;
  color:$font-color;
}
::selection {
  background:$selection-color;
  color:$selection-text;
}
::-moz-selection {
  background:$selection-color;
  color:$selection-text;
}
// * {
//   outline:none;
//   &:focus {
//     @include filter-shadow(rgba(0,0,0,0.35), 15px, 0, 0);
//   }
// }
a, a:visited {
  color:$link-color;
  @include transition(color 0.25s);
  &:hover, &:focus {
    text-decoration:underline;
  }
}
h1.heading {
  font-size:3em;
  text-shadow:0 0 5px rgba(0,0,0,0.25);
  a, a:visited {
    color:$font-color;
    text-decoration:none;
    a:hover, a:focus {
      color:$font-color;
      text-decoration:none;
    }
  }
  sup {
    font-size:0.35em;
  }
  .logo {
    display:inline-block;
    width:1em;
    height:1em;
    position:relative;
    top:0.1em;
    background:transparent url('../images/groundwork-logo.svg') bottom right no-repeat;
    background-size:100% 100%;
    text-indent:-9999em;
    overflow:hidden;
    @include filter-shadow(rgba(0,0,0,0.25), 5px, 0, 0); // color, blur, x, y
  }
}
h1, h2, h3, h4, h5, h6 {
  @include font-stack('Average Sans');
  line-height:1.1;
  margin-bottom:15px;
}
h1 {
  font-weight:200;
  font-size:$font-size * 2.3333333333;
}
h2 {
  font-weight:200;
  font-size:$font-size * 2;
}
h3 {
  font-weight:500;
  font-size:$font-size * 1.5;
}
h4 {
  font-weight:500;
  font-size:$font-size * 1.3333333333;
}
h5 {
  font-weight:900;
  font-size:$font-size * 1.1666666667;
}
h6 {
  font-weight:900;
  font-size:$font-size * 1.1666666667;
  text-transform:uppercase;
}
p, ul, ol, dl {
  margin-bottom:10px;
  font-weight:normal;
  font-size:1em;
  line-height:1.6;
}
ul, ol {
  margin-left:20px;
}
ul {
  list-style-type:circle;
}
ul.list {
  list-style:none;
  margin-left:0;
  li {
    &:before {
      content:'\f00c';
      display: inline-block;
      width: 1.1em;
      margin-right:0.25em;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size:1.1em;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      line-height: normal;
      vertical-align: baseline;
      background-image: none;
      background-position: 0% 0%;
      background-repeat: repeat;
      margin-top: 0;
    }
  }
}
ol.list {
  counter-reset:li;
  list-style:none;
  margin-left:1.5em;
}
ol.list > li {
    position:relative;
    padding:2px 6px 0;
}
ol.list > li:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:2px;
    left:-2em;
    width:2em;
    text-align:center;
    padding:2px;
    font-size:0.8em;
    color:$background-color;
    background:$font-color;
    font-weight:bold;
    @include rounded(4px);
}
dl {
  dt {
    font-weight:bold;
  }
  dd {
    padding-left:1em;
    margin-bottom:$gutter;
  }
}
blockquote {
  padding:1.3em 4em 1em;
  color:$font-color;
  font-size:$font-size*1.15;
  font-weight:bold;
  line-height:1.4;
  position:relative;
  z-index:0;
  &:before {
    content:'\201C';
    color:darken($background-color, 20%);
    font-size:6em;
    display:block;
    position:absolute;
    top:-0.15em;
    left:0.1em;
    z-index:-1;
  }
  &:after {
    content:'\201D';
    color:darken($background-color, 20%);
    font-size:6em;
    display:block;
    position:absolute;
    top:-0.15em;
    right:0.1em;
    z-index:-1;
  }
}
cite {
  display:block;
  position:relative;
  left:-1em;
  margin-top:0.25em;
  font-size:0.95em;
  font-weight:normal;
  font-style:normal;
  color:lighten($font-color, 15%);
  &:before {
    content:'\2014';
  }
}
small, .small { font-size:0.8em; }
big, .big, .large { font-size:1.5em; }
em, .italic { font-style:italic; }
b, strong, .bold, .strong { font-weight:900; }
sup { font-size:0.8em; }
sub { font-size:0.8em; }

code {
	color:       white;
	white-space: pre-wrap;
	word-wrap:   break-word;
	min-height:  1em;
	display:     inline-block;
	color:       white;
	background:  lighten(gray, 5%);
	border:      none;
	padding:     0 0.3em;
	margin:      0 0.2em;
	font-weight: normal;
	line-height: inherit;
}

pre {
	color:         white;
	background:    #050505;
	font-size:     0.9em;
	padding:       0.5em;
	display:       block;
  margin-bottom:$gutter;
	border-left:   2.5em solid gray;
	counter-reset: linenumber;
	code {
		background: inherit;
		margin:     0;
		padding:    0;
		&:before {
			text-align:        right;
			color:             white;
			width:             2em;
			display:           inline-block;
			counter-increment: linenumber;
			content:           counter(linenumber) ".";
			position:          absolute;
			left:              1.2em;
		}
	}
}

.error, .invalid {
  color:$error-color;
}
.success, .valid {
  color:$success-color;
}
// responsive headings
.js {
  .responsive {
    @include transition(font 0.25s);
    white-space:nowrap;
  }
}
