// ===================================
//      GroundworkCSS Web Fonts
// ===================================




@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/averagesans/v1/dnU3R-5A_43y5bIyLztPsXZ2MAKAc2x4R1uOSeegc5U.eot);
  src: local('Average Sans'), 
       local('AverageSans-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/averagesans/v1/dnU3R-5A_43y5bIyLztPsXZ2MAKAc2x4R1uOSeegc5U.eot) format('embedded-opentype'), 
       url(http://themes.googleusercontent.com/static/fonts/averagesans/v1/dnU3R-5A_43y5bIyLztPsXhCUOGz7vYGh680lGh-uXM.woff) format('woff'), 
       url(http://themes.googleusercontent.com/static/fonts/averagesans/v1/dnU3R-5A_43y5bIyLztPsZS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
  
}
